# folders
__pycache__/
S1-T1-C/
S2-T3-C/
S5-T1-G/
.vscode/
val2017/
coco/
data_subsets/
data_subsets2/
train2017/
cnn_models/
validation_set/
Output/images/
Output_videos/
Output/images_grey/
Output/
data_video/
CNN/data_subsets/
SSD/
CNN/models

# files :
.pylintrc
AVSS_AB_Easy_Divx.avi
AVSS_AB_Hard_Divx.avi
AVSS_AB_Medium_Divx.avi
PETS2009_sample_1.avi
test_video.MOV

output_video.avi
output_video_easy.avi
output_video_medium.avi
output_video_Hard.avi

train2017.zip
annotations_trainval2017.zip
test.py
extract_subset_coco_2.py
resize_images.py
test_on_boxes.py
test.py

main3.py
intensity_processing2.py

links.txt
